{% extends 'layout.html'  %}

{% block content %}

{% if fields.name %}
<p>Welcome, <i>{{fields.name}}</i></p>
{% endif  %}
{% if questions.head %}
	<h4>The questions that you have added are as follows:</h4>
	<div class="question list">
		<table class="table">
			<tr>
				<th>Title</th>
				<th>Attempts</th>
				<th>Valid Attempts</th>
			</tr>
			{% for question in questions.questions %}
			<tr>
				<td><a href="{{question.link}}">{{question.title}}</a></td>
				<td>{{question.attempt}}</td>
				<td>{{question.vattempt}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}
<a href="/jury/addq">Add a new question</a>
{% endblock %}
