{% extends 'layout.html' %}
{% block head %}
	<style type="text/css">
	input{
		margin: 8px 0;
		padding: 6px; 
	}
	</style>
{% endblock %}
{% block content %}
	<h4>{{ques.title}}</h4>
	<div class="stats">
		<table class="table">
			<tr>
				<th>Valid Attempts</th>
				<th>Attempts</th>
			</tr>
			<tr>
				<td>{{ques.vattempt}}</td>
				<td>{{ques.attempt}}</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-md-10">
			<p>
				{{ques.content}}
			</p>
		</div>
	</div>
	<div class="submission">
		I am submitting code in : 

			<select name="compiler" form="work">
				<option default value="none">-select-</option>
				<option value="gcc">C (gcc)</option>
			</select>
		
		<form id="work" method="POST" action="/submitQ" enctype="multipart/form-data" role="form" class="form-horizontal">
			<div class="form-group">
				<input class="form-control" type="hidden" name="ques" value={{ques.id}} />
				<input class="form-control" type="file" name="code" />
				<input class="form-control btn btn-default" type="submit">
			</div>
		</form>
	</div>
{% endblock %}
