{% extends 'layout.html' %}
{% block content %}
	<h4>{{ques.title}}</h4>
	<div class="stats">
		<table class="table">
			<tr>
				<th>Valid Attempts</th>
				<th>Attempts</th>
			</tr>
			<tr>
				<td>{{ques.vattempt}}</td>
				<td>{{ques.attempt}}</td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-md-10">
			<p>
				{{ques.content}}
			</p>
		</div>
	</div>
	<div class="submission">
		I am submitting code in : 

			<select name="compiler" form="work">
				<option default value="none">-select-</option>
				<option value="gcc">C (gcc)</option>
			</select>
		
		<form id="work" method="POST" action="/submitQ" enctype="multipart/form-data">
			<input type="hidden" name="ques" value={{ques.title}} />
			<input type="file" name="code" />
			<input type="submit">
		</form>
	</div>
{% endblock %}
